.hotelNavStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    height: 4vh;
    background: rgb(235,235,235);
    background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(235,235,235,1) 100%);
        
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #000;
                &:hover {
                    transition: 0.2s ease-in-out;
                    color: #ff0000;
                }
            } 
        }
    
}