.container{
    position: relative;
    z-index: 2;
    
header {
    position: absolute;
    transform: translateY(-50%);
    top: 35vh;
    left: 10vw;
.blackbg {
    width: 800px;
    height: 75px;
    background-color: black;
    border-radius: 0 0 300px 0;
    opacity: 0.8;
    
    h1 {
        padding: 17px;
        font-size: 2rem;
        color: #fff;
        opacity: 2;
        z-index: 3;

    }
}

.redbg {
    width: 600px;
    height: 25px;
    background-color: red;
    border-radius: 0 0 300px 0;
    opacity: 0.8;
}
}
}
@media only screen and (max-width: 960px) {
    .container {
        header {
            left: 2vw;
            .blackbg {
                width: 500px;
                height: 50px;
                h1 {
                    font-size: 1.2rem;
                }
            }
            .redbg {
                width: 400px;
                height: 15px;
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .container {
        left: 0;
        header {
            left: 0;
            .blackbg {
                width: 100%;
                border-radius: 0;
                h1 {
                    font-size: 4vw;
                }
            }
            .redbg {
                width: 100%;
                border-radius: 0;
                
            }
        }
    }
}

@media only screen and (max-width: 510px) { 
    .container {
        header {
            top: 23vh;
        }
    }

}


