.navStyles {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    img {
       margin: 1rem 0 1rem 10%;
    }
    ul {
        display: flex;
        margin: 0 10rem 1.4rem 0;
        align-items: flex-end;
        li {
            list-style: none;
            padding: 0 1vw;
            border-right: 1.5px solid #fff;
            &:last-child {
                border: none;
              }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;    
            }
            
        }
    }
    
}
@media only screen and (max-width: 1200px) {
    .navStyles {
        ul {
            display: none;
        }
    }
}

@media only screen and (max-width: 570px) {
    .navStyles {
        padding: 0.5rem;
        img {
            width: 10rem;
        }
    }
}
